Flask
pandas
chardet
psycopg2
Werkzeug
email-validator
flask-sqlalchemy
psycopg2-binary
sqlalchemy
cachetools
openpyxl
python-dotenv
nicegui==2.4.0
flask-socketio
eventlet
gunicorn
python-socketio
simple-websocket
flask-socketio>=5.0.0
python-socketio>=5.0.0
flask-socketio
flask-cors
