{% extends "base.html" %}

{% block title %}Chat - Chat App{% endblock %}

{% block content %}
<div class="chat-container">
    <div id="message-list" class="message-list">
        <!-- Messages will be dynamically added here -->
    </div>
    <div class="message-input">
        <form id="message-form">
            <div class="input-group">
                <input type="text" id="message-content" class="form-control" placeholder="Type a message...">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const conversationId = {{ conversation_id }};
</script>
<script src="{{ url_for('static', filename='js/chat_view.js') }}"></script>
{% endblock %}
